.page-link
  color #007bff !important

.pagination
  align-items center

.page-num
  color #a5e3e9 !important
  font-size 22px
  margin 0 8px
  cursor pointer

.selected
  // background-color  #defcfc
  color #007bff !important
  font-size 26px
  margin 0 8px
  cursor pointer

// https://colorhunt.co/palette/140700