<nav aria-label="Page navigation example">
  <ul class="pagination">
    <!-- <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li> -->
    <li *ngFor="let item of arrayOne(pageable.totalPage); let i = index" class="page-item">
      <!-- <a class="page-link" [ngClass]="{selected: pageable.page === i+1}" (click)="onClickLink(i + 1)">{{i + 1}}</a> -->
      <a [ngClass]="{
        'selected': pageable.page === i+1,
        'page-num': pageable.page !== i+1
      }" (click)="onClickLink(i + 1)">{{i + 1}}</a>
    </li>
  </ul>
</nav>