<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- <a class="navbar-brand" [routerLink]="['']">Kevent</a> -->
      <a class="navbar-brand" [routerLink]="['']">
        <img src="/assets/logo2_white.png" height="40" alt="">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/events']">EVENTS</a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav ml-auto">
          <ng-template [ngIf]="isAuthenticated" [ngIfElse]="signin">
            <li class="nav-item dropdown" ngbDropdown placement="bottom-right" >
              <a
                [routerLink]=""
                class="nav-link dropdown-toggle"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ngbDropdownToggle
              > 
                User
              </a>
              <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item" [routerLink]="">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="" (click)="onClickLogout()">Sign out</a>
              </div>
            </li>
          </ng-template>
          <ng-template #signin>
              <li class="nav-item dropdown" placement="bottom-right" >
                <a
                  [routerLink]="['login']"
                  class="nav-link dropdown-toggle"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                > 
                  Sign in
                </a>
              </li>
          </ng-template>
        </ul> -->
        <form (keydown.enter)="onSearch($event)" class="form-inline my-2 my-lg-0">
          <input (input)="onChange($event)" value="{{keyword}}"
            class="form-control mr-sm-3 search" type="search" placeholder="Search Events..." aria-label="Search" />
          <button class="btn btn-info my-2 my-sm-0" type="button" (click)="onSearch($event)">Search</button>
        </form>
      </div>
    </div>
  </nav>
  