.coverRow
  text-align left

.cover-img
  min-height 200px
  max-height 300px
  width auto
  border-radius 8px

.container
  padding-top 16px

.location-text
  margin 0

.event-info
  margin 16px -15px
  padding 0 16px
  border-radius 10px
  // border-style solid
  border-color #97D2FB
  
.zone-img
  width: 200px
  max-height: 400px
  height auto
  border-radius 4px

.info-title
  font-size: 1.2em;
  background-color: #97D2FB;
  border-radius: 16px;
  padding: 3px 16px;
  color: #ffffff;

.event-name-title
  color #32ccff

.info-data
  margin-top 4px
  margin-left 16px

.event-name-div
  margin-top 16px

.ticket-selling-time-text
  margin-left 32px

.modal-content 
  margin: auto
  display: block
  // width: 80%
  // max-width: 700px

