<app-layout>
  <div class="container">
    <app-breadcumb [items]="breadcumb"></app-breadcumb>
    <div *ngIf="event">
      <div class="row">
        <div class="col-md-12 coverRow">
          <img *ngIf="coverUrl; else unknownCover" class="cover-img" src="{{ coverUrl }}" (click)="viewImage(imgModal, 'cover')" />
          <ng-template #unknownCover>
            <img class="cover-img" src="/assets/unknown.jpg" />
          </ng-template>
        </div>
      </div>
      <div class="row event-name-div">
        <h1 class="event-name-title">{{event.name}}</h1>
      </div>
      <div class="row">
        <div *ngIf="event.eventArtistList.length; else noArtist">
          <strong>Artist<span *ngIf="event.eventArtistList.length > 1"></span></strong> : 
          <span *ngFor="let ae of event.eventArtistList" 
            class="badge badge-pill badge-primary artist-badge">{{ae.name}}</span>
        </div>
        <ng-template #noArtist>TBA</ng-template>
      </div>
      <!-- <div class="row">
        กลับมาอีกครั้งสำหรับ TWICE Asia Tour เริ่มต้นที่ไทยเหมือนเดิม เตรียมใจเตรียมเงินกันให้พร้อม
      </div> -->
      <div class="event-info">
        <div>
          <div class="location-text">
            <span class="info-title">Location</span>
          </div>
          <p *ngIf="event.location; else noLocation" 
            class="info-data"><i class="fas fa-map-marker"></i> {{event.location}}</p>
          <ng-template #noLocation>TBA</ng-template>
        </div>
        <div>
          <span class="info-title">รอบการแสดง</span>
        </div>
        <div>
          <div class="info-data">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <ng-template [ngIf]="!event.performDateTimeList || !event.performDateTimeList.length">
              TBA
            </ng-template>
            <ng-container *ngFor="let pt of event.performDateTimeList; let i = index">
              <a>
                &nbsp;
                <span>{{pt.datetime | calDateFormat}}</span>
              </a>
              <span *ngIf="i+1 < event.performDateTimeList.length">,</span>
            </ng-container>
          </div>
        </div>
        <br />
        <!-- ticket selling -->
        <div>
          <span class="info-title">Ticket Selling</span>
        </div>
        <div class="info-data">
          <div *ngFor="let ticketSelling of event.ticketSellingList; let i = index">
            <span>
              <i class="fas fa-shopping-cart"></i>
              &nbsp;
              <a *ngIf="isLink(ticketSelling.approach); else normalApproach" [href]="ticketSelling.approach">{{ticketSelling.approach}}</a>
              <ng-template #normalApproach><a>{{ticketSelling.approach}}</a></ng-template>
            </span>
            <div class="ticket-selling-time-text">
              <span>{{ticketSelling.ticketStartTime | calDateFormat}}</span>
              <ng-container *ngIf="ticketSelling.ticketEndTime">
                - <span>{{ticketSelling.ticketEndTime | calDateFormat}}</span>
              </ng-container >
            </div>
          </div>
        </div>
        <br />
        <!-- end ticket selling -->
        <!-- ticket price -->
        <div>
          <span class="info-title">Price</span>
        </div>
        <div class="info-data">
          <a>
            <i class="fas fa-dollar-sign"></i>&nbsp;
            <span *ngIf="event.zoneDetail; else noZoneDetail">
              {{event.zoneDetail}}
            </span>
            <ng-template #noZoneDetail>-</ng-template>
          </a>
        </div>
        <!-- end ticket price -->
        <!-- zone -->
        <div class="info-data">
          <a>
            <img *ngIf="zoneImageData; else noZoneImage" class="zone-img" [src]="zoneImageData" (click)="viewImage(imgModal, 'zone')" />
            <ng-template #noZoneImage>
              <img class="zone-img" src="/assets/unknown.jpg" />
            </ng-template>
          </a>
        </div>
        <!-- end zone -->
      </div>
      <!-- Content -->
      <!-- <div class="row">
        <div>
          <p>ประกาศผังที่นั่ง และรายละเอียดบัตรเข้าชมงานคอนเสิร์ต 「2019 BEST OF BEST CONCERT IN BANGKOK」 ที่จะจัดขึ้นในวันเสาร์ที่ 19 ตุลาคม 2562 เวลา 18.00 น. ณ ธันเดอร์โดม เมืองทองธานี
          พบกับสุดยอดไลน์อัพศิลปิน ‘TAEYEON’ (แทยอน), ‘TAEMIN’ (แทมิน) และ ‘SOYOU’ (โซยู) ที่จะมาทำให้งานครั้งนี้เป็นมากกว่าคอนเสิร์ต! มาสนุกไปกับเสียงดนตรี และเข้าถึงอารมณ์เพลงด้วยกัน!!</p>
          <p><strong>「2019 BEST OF BEST CONCERT IN BANGKOK」</strong></p>
          <p>▫️ ไลน์อัพ: ‘TAEYEON’ (แทยอน), ‘TAEMIN’ (แทมิน), ‘SOYOU’ (โซยู)</p>
          <p>▫️ วัน และเวลา: วันเสาร์ที่ 19 ตุลาคม 2562 เวลา 18.00 น.</p>
          <p>▫️ สถานที่: ธันเดอร์โดม เมืองทองธานี</p>
          <p>▫️ ราคาบัตร: 6,500 (วีไอพี) / 5,800 (บัตรยืน) / 5,000 / 4,800 (บัตรยืน) / 3,800 / 2,000 บาท</p>
          <p>▫️ เปิดจำหน่ายบัตร: วันอาทิตย์ที่ 1 กันยายน 2562 ตั้งแต่เวลา 10.00 น. เป็นต้นไป ทาง http://go.eventpop.me/BOB-Concert2019</p>
        </div>
      </div> -->
      <!-- end Content -->
    </div>
  </div>
  <!-- The Modal -->
  <ng-template #imgModal let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Zone</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img class="modal-content img-modal" />
  </ng-template>
</app-layout>