.coverRow
  text-align center

.cover-img
  min-height 300px
  max-height 400px
  width auto

.container
  padding-top 16px

.location-text
  margin 0

.event-info
  margin 16px -15px
  padding 16px
  border-radius 10px
  background-color #97D2FB
  
.zone-img
  width: 200px
  max-height: 400px
  height auto