<div class="event-item">
  <div class="event-cover">
    <img
      *ngIf="coverUrl; else noCoverBox" [src]="coverUrl"
      class="event-cover-img"
    />
    <ng-template #noCoverBox>
      <div style="width: 300px; height: 200px;">
        <img style="width: 100%; height: 100%; border-radius: 2%;" src="assets/unknown.jpg" />
      </div>
    </ng-template>
  </div>
  <div class="event-body">
    <div class="event-text">
      <div>
        <a [routerLink]="['/events', event.id]"><h4>{{event.name}}</h4></a>
      </div>
      <!-- <div>
        <p>{{event.description}}</p>
      </div> -->
      <div class="event-tags artist-badges-m">
        <a class="gadget" *ngFor="let ea of event.eventArtistList">{{ea.name}}</a>
      </div>
      <div *ngIf="event.location">
        <p class="location-text"><i class="fas fa-map-marker"></i> {{event.location}}</p>
      </div>
      <div class="event-tags" *ngIf="performDateStrs && performDateStrs.length">
        <!-- <a class="gadget">Concert</a> -->
        <a *ngFor="let performDateStr of performDateStrs">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          &nbsp;
          <span>{{performDateStr}}</span>
        </a>
      </div>
      <div class="event-tags" *ngIf="event.ticketSellingList && event.ticketSellingList.length">
        <a>
          <i class="fas fa-shopping-cart"></i>
          &nbsp;
          <ng-container *ngFor="let tickSelling of event.ticketSellingList; let i = index">
            <ng-container *ngIf="i > 0">, &nbsp;</ng-container><span>{{tickSelling.ticketStartTime | calDateFormat}}</span>
          </ng-container>
        </a>
      </div>
      <div class="event-tags artist-badges">
        <a class="gadget" *ngFor="let ea of event.eventArtistList">{{ea.name}}</a>
      </div>
    </div>
  </div>
</div>
