.event
  display flex
  align-items center

.event-cover
  height: 450px;
  width: 300px;

.event-detail
  margin 1.5em

.event-cover-img
  max-width: 100%;
  max-height: 100%;

.event-name, .event-name::after {
  font-weight: 900;
  color: #112233;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

.event-name {
  font-size: 4em;
  text-shadow: .04em .04em 0 #9cb8b3;
}

.event-des
  font-size: 1em;
  font-weight: 900;
  color: #112233;
