.event-item
  display: flex;
  align-items flex-start
  margin-top 48px

.event-cover
  display: flex
  padding-right: 30px

.event-cover-img
  width 300px
  // max-width 300px
  max-height 200px
  height auto
  border-radius 8px
  object-fit contain

.event-body
  flex 1

.event-text
  margin-top 0

.event-tags
  box-sizing  border-box
  a
    color: #777777;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin-right: 15px;
  .gadget
    color #fff

.gadget
  background: #ff1857;
  color: #fff;
  display: inline-block;
  padding: 0px 20px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;

.location-text
  color: #777777;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 0 15px 0 0;