<!-- <div class="event">
  <div class="event-cover">
    <img class="event-cover-img" *ngIf="coverUrl" [src]="coverUrl" />
  </div>
  <div class="event-detail">
    <div>
      <a [routerLink]="['events', event.id]">
        <div class="event-name">
          Name {{event.name}}
        </div>
      </a>
    </div>
    <div class="event-des">
      Desc {{event.description}}
    </div>
    <div class="event-des">Location {{event.location}}</div>
    <div>Time {{performDateStr}}</div>
    <div class="artist-tag-list">
      <span class="artist-tag" *ngFor="let ea of event.eventArtistList">
        {{ea.name}}
      </span>
    </div>
  </div>
</div> -->
<div class="event-item">
  <div class="event-cover">
    <img
      *ngIf="coverUrl" [src]="coverUrl"
      class="event-cover-img"
    />
  </div>
  <div class="event-body">
    <div class="event-text">
      <div>
        <h4>{{event.name}}</h4>
      </div>
      <div>
        <p>{{event.description}}</p>
      </div>
      <div class="event-tags">
        <a class="gadget">Concert</a>
        <a>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{performDateStr}}
        </a>
      </div>
    </div>
  </div>
</div>
