/* You can add global styles to this file, and also import other style files */
@font-face
  font-family: Roboto;
  src: url("assets/Roboto-Regular.ttf");


body
  font-family: Roboto
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh;

.zone-preview-img
  .modal-dialog
    max-width 900px !important
  